html
  overflow auto !important

.v-application
  background-color #FFF !important

a
  text-decoration none

.v-application .v-window-item code
  background-color unset !important
  color unset !important
  font-weight unset !important
  white-space unset !important
  -webkit-box-shadow unset !important
  box-shadow unset !important
